
  <div class="hanglayout">
    <div *ngIf="tries==6"><img src="/assets/images/hangimage.png" class="hang"></div>
    <div *ngIf="tries == 5"><img src="/assets/images/1.jpg" class="hang"></div>
    <div *ngIf="tries == 4"><img src="/assets/images/2.jpg" class="hang"></div>
    <div *ngIf="tries == 3"><img src="/assets/images/3.jpg" class="hang"></div>
    <div *ngIf="tries == 2"><img src="/assets/images/4.jpg" class="hang"></div>
    <div *ngIf="tries == 1"><img src="/assets/images/5.jpg" class="hang"></div>
    <div *ngIf="tries == 0"><img src="/assets/images/6.jpg" class="hang"></div>
  </div>
